<ng-form name="fieldForm" novalidate>
<p>{{key}}:
<span class="no-edit" ng-show="!editMode">{{bindItem[key]}}</span>
  <input type="text" name="fieldName" ng-model="bindItem[key]" required data-validate-runtime ng-show="editMode" ng-change="addEdit(key)">
  <span style="color:red" ng-show="fieldForm.fieldName.$dirty && fieldForm.fieldName.$invalid">
  <span ng-show="fieldForm.fieldName.$error.required">{{key}} is required.</span>
  <span ng-show="fieldForm.fieldName.$error.invalidRuntime">{{key}} must be in format "hh:mm:ss".</span>
  </span>
</p>
</ng-form>