@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300);
/* app css stylesheet */
.wrapper {
  margin: 40px auto 40px auto;
  width: 768px; }

.item-list .top-bar span, .item-list .second-bar span {
  margin-right: 15px; }

.item-list .top-bar {
  margin-bottom: 5px; }

.item-list .second-bar {
  margin-bottom: 20px; }

.item-list .add-new-btn {
  float: right;
  margin-right: 10px; }

.activeLabel {
  float: right;
  margin-right: 27px; }

.item {
  clear: both; }

.item .title {
  cursor: pointer;
  width: 500px;
  overflow: hidden;
  display: inline-block; }

.item .title:hover {
  text-decoration: underline; }

.item .active {
  float: right;
  margin-right: 43px; }

.item .type {
  float: right;
  margin-right: 80px; }

.edit-item .myForm .top-bar button, .edit-item .myForm .top-bar a {
  margin-right: 10px; }

.edit-item .myForm .top-bar button {
  float: right; }

.edit-item .myForm .top-bar .error-message {
  color: red;
  float: right;
  margin-right: 10px; }

.edit-item .myForm .top-bar {
  margin-bottom: 30px; }

.field p {
  clear: both; }

.field input, .field textarea {
  float: right;
  width: 500px;
  margin-bottom: 1em; }

.field span:not(.no-edit) {
  display: block; }

.field .no-edit {
  float: right;
  width: 500px; }

.type.field p {
  display: inline-block;
  width: 100px; }

.type.field input {
  float: none;
  width: auto;
  margin-right: 10px; }

.tracks-wrapper {
  margin-top: 20px;
  margin-left: 20px; }

.tracks-wrapper hr {
  margin-top: 35px;
  margin-bottom: 35px; }

.rec-struct-wrapper {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid rgba(77, 152, 248, 0.2);
  border-left: 1px solid rgba(77, 152, 248, 0.5);
  border-bottom: 1px solid rgba(77, 152, 248, 0.1);
  border-radius: 15px;
  box-sizing: border-box;
  background-color: white; }

.top-wrapper {
  padding-left: 0;
  border: none; }

.rec-struct-wrapper .pub {
  margin-left: 10px; }

.rec-struct-wrapper h1 {
  font-size: 20px;
  font-family: "Open Sans", sans-serif; }

.rec-struct-wrapper h2 {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

.category-container {
  padding: 40px;
  padding-top: 0px;
  width: 100%;
  cursor: move;
  position: relative;
  box-sizing: border-box; }

.publication-container {
  padding-bottom: 10px;
  width: 100%;
  cursor: move;
  position: relative;
  box-sizing: border-box; }

.pub p {
  margin-top: 0px;
  margin-bottom: 0;
  padding-top: 10px; }

.over {
  background-color: #bbcccc; }

.sorta-over {
  border-top: 2px solid #226080; }

.sorta-droppable-category {
  padding-top: 60px; }

.sorta-droppable-category.sorta-over {
  padding-top: 60px;
  border-top: 6px solid #226080; }

button.Publications {
  display: none; }

.category-title {
  width: 100%;
  border: none; }
