<div class="item-list">

	<div class="top-bar">
		<span><input ng-model="searchText" placeholder="Search"></span>
		<span><input type="checkbox" ng-model="filterOptions.types.cd"> CDs </span>
		<span><input type="checkbox" ng-model="filterOptions.types.dvd"> DVDs </span>
		<span><input type="checkbox" ng-model="filterOptions.types.ebook"> EBooks </span>
		<span class="add-new-btn"><button ng-click="showEditItemView()">Add New</button></span>
	</div>

	<div class="second-bar">
		<span><input ng-model="search.title" placeholder="Search Title"></span>
		<span>Sort by: <select ng-model="selectedSortOption"><option ng-repeat="option in sortOptions" value="{{option}}">{{option}}</option></select></span>
		<span><input type="checkbox" ng-model="filterOptions.activeOnly"> Active Only</span>
		
		<span class="pub-struct-btn"><a ng-click="saveFilterOptions()" href="#/publication-structure">Publication Structure</a></span>
	</div>

	<div class="activeLabel">Active</div>
	<div class="item" ng-repeat="item in items | filter:searchText | filter:search | itemListFilter:filterOptions | orderBy:selectedSortOption">
		<span class="title" ng-click="showEditItemView(item)"> {{item.title}} </span>
		<span class="active" > <input type="checkbox" ng-checked="item.active == 1" ng-model="isChecked" ng-change="updateActive(item, isChecked)" ></span>
		<span class="type"> {{item.type}}</span>
	</div>
	
</div>
