<a href="#/item-list">Cancel</a>


<button ng-click="saveNew()">Save</button>


	<input type="radio" ng-model="itemType" value="cd">CD<br>
	<input type="radio" ng-model="itemType" value="dvd">DVD<br>
	<input type="radio" ng-model="itemType" value="ebook">eBook<br>



<div ng-repeat="(key, value) in templates[itemType]['mainEntry']">
	<span ng-show="key!='tracks'">{{key}}</span>
	<textarea ng-show="key!='tracks'" ng-bind="newItem[key]" ng-model="templates[itemType]['newEntry'][key]"></textarea>
</div>

<h1>Tracks</h1>

<button ng-click="addNewTrack()">Add new track</button>
<div ng-repeat="track in newItem['tracks'] | orderBy:track.trackNumber">
	<div ng-repeat="(key,value) in track">
		<span >{{key}}</span>
		<textarea  ng-bind="track[key]" ng-model="value"></textarea>
	</div>
	<hr>
</div>


