<a href="#/item-list">Cancel</a>


<button ng-click="saveNew()">Save</button>

<form>
	<input type="radio" ng-model="itemType" value="cd">CD<br>
	<input type="radio" ng-model="itemType" value="dvd">DVD<br>
	<input type="radio" ng-model="itemType" value="ebook">eBook<br>
</form>


<div ng-repeat="(key, value) in templates[itemType]['mainEntry']">
	<span ng-show="key!='tracks'">{{key}}</span>
	<textarea ng-show="key!='tracks'" ng-bind="newItem[key]" ng-model="templates[itemType]['newEntry'][key]"></textarea>
</div>

<div tracks-view item-type="itemType"></div>


