<div class="edit-item">

	<form class="myForm" name="myForm" novalidate>
		<div class="top-bar">
			<a class="back-btn" href="javascript:void(0);" ng-bind="createMode ? 'Cancel' : 'Back to list'" ng-click="confirmLeaveEdit()"></a>
			<button ng-click="deleteItem()" ng-show="!createMode">Delete</button>
			<button class="edit-btn" ng-click="toggleEditMode(!editMode)" ng-show="!createMode" ng-bind="editMode ? 'Cancel' : 'Edit'"></button>
			<button class="save-btn" ng-click="createMode ? saveNew() : saveEdit()" ng-show="editMode" ng-disabled="myForm.$invalid">Save</button>
			<span class="error-message" ng-show="myForm.$invalid">You must complete form with valid data to save. </span>
		</div>
		<div class="field {{key}}" ng-repeat="(key, value) in item.copy" ng-include="key"></div>
	</form>
</div>

<script type="text/ng-template" id="active"><span active></span></script>
<script type="text/ng-template" id="author"><span author></span></script>
<script type="text/ng-template" id="discourseDate"><span discourse-date></span></script>
<script type="text/ng-template" id="id"><span item-id></span></script>
<script type="text/ng-template" id="runtime"><span runtime></span></script>
<script type="text/ng-template" id="s3URL"><span aws-folder-name></span></script>
<script type="text/ng-template" id="subtitle"><span subtitle></span></script>
<script type="text/ng-template" id="summary"><span summary></span></script>
<script type="text/ng-template" id="title"><span title></span></script>
<script type="text/ng-template" id="tracks"><span tracks></span></script>
<script type="text/ng-template" id="type"><span item-type></span></script>
