<a href="#/item-list" ng-bind="createMode ? 'cancel' : 'back' "></a>

<form name="myForm" novalidate>
<button ng-click="createMode ? saveNew() : saveEdit()" ng-show="editMode">Save</button>
<button ng-click="toggleEditMode(!editMode)" ng-show="!createMode" ng-bind="editMode ? 'Cancel' : 'Edit'"></button>
<button ng-click="deleteItem()" ng-show="!createMode">Delete</button>

<div ng-repeat="(key, value) in itemCopy" ng-include="key"></div>

<h1>Tracks</h1>
<button ng-click="addNewTrack()" ng-show="editMode">Add new track</button>

<div ng-repeat="track in tracksCopy">
	<button ng-click="deleteTrack(track)"> Delete track</button>
	<div ng-repeat="(key, value) in track" ng-include="key"></div><hr>
</div>
</form>

<script type="text/ng-template" id="active"><span active></span></script>
<script type="text/ng-template" id="author"><span author></span></script>
<script type="text/ng-template" id="discourseDate"><span discourse-date></span></script>
<script type="text/ng-template" id="id"><span item-id></span></script>
<script type="text/ng-template" id="runtime"><span runtime></span></script>
<script type="text/ng-template" id="s3URL"><span s3URL></span></script>
<script type="text/ng-template" id="subtitle"><span subtitle></span></script>
<script type="text/ng-template" id="summary"><span summary></span></script>
<script type="text/ng-template" id="title"><span title></span></script>
<script type="text/ng-template" id="type"><span item-type></span></script>

<script type="text/ng-template" id="filename"><span filename></span></script>
<script type="text/ng-template" id="trackID"><span track-id></span></script>
<script type="text/ng-template" id="trackNumber"><span track-number></span></script>
<script type="text/ng-template" id="trackTime"><span track-time></span></script>
<script type="text/ng-template" id="trackName"><span track-name></span></script>