<div class="rec-struct-wrapper" category="category" droppable>
	<h1>{{category.title}}</h1>

	<h2 ng-show="category.publications.length>0">Publications</h2>
	<ol class="publication-container" ng-model="category.publications">
		<li class="pub" draggable pub="pub" parent-category="category" draggable-type="pub" ng-repeat="pub in category.publications | pubStructFilter:items" >
			<div sorta-droppable index="{{$index}}" parent-category="category">
				<p >{{pub.title}}</p>
			</div>
		</li>
	</ol>

	<ol class="category-container" ng-model="category.subcategories">
		<li  ng-repeat="subcat in category.subcategories" draggable category="subcat" parent-category="category" draggable-type="category">
			<recursive-structure category="subcat" items="items"></recursive-structure>
		</li>
	</ol>
</div>


